<h1>Available <%= @genre.name %> Songs</h1>

<h2> Add new songs to this genre</h2>
<%= form_tag :action => :add_song_to_genre, :id => @genre.id do %>
	Title: <%= text_field :song, :title %> <br>
	Artist: <br>
	<% @artists.each do |artist| %>
		<%= radio_button :song, :artist_id, artist.id %> <%= artist.name %> <br>
	<% end %>
	Duration (in seconds): <%= text_field :song, :duration %>
	<%= submit_tag 'Add new song' %>
<% end %>

<table>
	<tr>
		<th>id</th>
		<th>title</th>
		<th>artist</th>
		<th>duration</th>
	</tr>
	
	<% ordered_songs = @genre.songs.sort_by{|s| [s.artist_id, s.id]} %>
	<% ordered_songs.each do |song| %>
		<% 
			minutes = song.duration / 60
			seconds = song.duration % 60
			duration = '%d:%.2d' % [minutes, seconds]
		%>
		<tr>
			<td> <%= song.id %> </td>
			<td> <%= song.title %> </td>
			<td> <%= link_to song.artist.name, :controller => :artists, :action => 'details', :id => song.artist.id %></td>
			<td> <%= duration %> </td>
		</tr>
	<% end %>
</table>

<%= link_to 'Back', genres_path %>