<h1>Available <%= @genre.name %> Songs</h1>


<table>
	<tr>
		<th>id</th>
		<th>title</th>
		<th>artist</th>
		<th>duration</th>
	</tr>
	
	<% ordered_songs = @genre.songs.sort_by{|s| [s.artist_id, s.id]} %>
	<% ordered_songs.each do |song| %>
		<% 
			minutes = song.duration / 60
			seconds = song.duration % 60
			duration = '%d:%.2d' % [minutes, seconds]
		%>
		<tr>
			<td> <%= song.id %> </td>
			<td> <%= song.title %> </td>
			<td> <%= link_to song.artist.name, :controller => :artists, :action => 'details', :id => song.artist.id %></td>
			<td> <%= duration %> </td>
		</tr>
	<% end %>
</table>