<p id="notice"> <%= notice %> </p>

<h1> <%= @artist.name %>, (<%=@artist.age %> years old)</h1>

<%= link_to 'Back', artists_path %>
<br>
<%= form_tag :action => :addsong, :id => @artist.id do %>
    Title: <%= text_field :song, :title %> <br>
    Duration (seconds): <%= text_field :song, :duration, :size => 3 %> <br>
    
    <% @genres.each do |genre| %>
        <%= radio_button :song, :genre_id, genre.id %><%= genre.name %> <br>
    <% end %>

    <%= submit_tag 'Add song' %>
<% end %>

<table>
	<tr>
		<th>id</th>
		<th>title</th>
		<th>duration</th>
		<th>genre</th>
		<th></th>
	</tr>

	<% @songs.each do |song| %>
		<%
	        min = song.duration / 60
	        sec = song.duration % 60
	        duration = '%d:%.2d' % [min, sec]
	    %>
		<tr>
			<td> <%= song.id %></td>

			<td> <%= song.title %></td>

			<td> <%= duration %></td>
			
			<td> <%= link_to song.genre.name, :controller => :genres, :action => 'browse', :id => song.genre.id %></td>

			<td><td><%= link_to 'Edit', edit_song_path(song) %></td></td>
		</tr>
	<% end %>
</table>